* {box-sizing: border-box;}
*:before,*:after {box-sizing: border-box;}
html {
    width: 100%;
    height: 100%;
  font-family: "PingFangSC-Regular";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  color:#333;
  line-height: 1;
  word-wrap: break-word;
}
body{
	position: relative;
	width: 100%;
    height: 100%;
}
html,
body,
div,
object,
iframe,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
dl,
dt,
dd,
ol,
ul,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
progress {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
th,
td {
    vertical-align: middle;
}
li {
    list-style: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    text-decoration: none
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}
figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    outline: none;
}

button {
    overflow: visible;
    border: 0;
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}
:focus {
    outline:none;
}
/* 弹框中滚动条样式重写 */
/*滚动条样式重置*/
.modal-body::-webkit-scrollbar { 
    width: 6px; 
    height: 6px;
  } 
  /*定义滚动条轨道 内阴影+圆角*/ 
  .modal-body::-webkit-scrollbar-track { 
     background-color: inherit; 
  }  
  .modal-body:hover::-webkit-scrollbar-thumb { 
    border-radius: 6px; 
    background-color: #C6CCD7; 
  }
  /*定义滑块 内阴影+圆角*/ 
  .modal-body::-webkit-scrollbar-thumb { 
    background-color: inherit; 
  }
/*滚动条样式重置*/
.scroll-box::-webkit-scrollbar { 
  width: 6px; 
  height: 6px;
} 
/*定义滚动条轨道 内阴影+圆角*/ 
.scroll-box::-webkit-scrollbar-track { 
   background-color: inherit; 
}  
.scroll-box:hover::-webkit-scrollbar-thumb { 
  border-radius: 6px; 
  background-color: #C6CCD7; 
}
/*定义滑块 内阴影+圆角*/ 
.scroll-box::-webkit-scrollbar-thumb { 
  background-color: inherit; 
}

/*elementui input前后插槽间距*/
.el-input-group__append, .el-input-group__prepend{
	padding: 0 12px;
}
.el-input-group__append .el-button, .el-input-group__prepend .el-button{
	padding: 0 12px;
}
.el-input-group__append div.el-select .el-input--suffix .el-input__inner{
	padding-left:12px;
	padding-right: 25px;
}
.el-input-group__append .el-button, .el-input-group__append .el-select, .el-input-group__prepend .el-button, .el-input-group__prepend .el-select{
	margin:-10px -12px;
}
/* elementui el-tabs增加左间距 */
.el-tabs .el-tabs__header {
	margin-bottom: 0;
}
.el-tabs .el-tabs__nav-wrap {
	padding-left: 20px;
}

/* elementui el-table 表头颜色等 */
.el-table {
	border: 1px solid #DDDDDD;
}
.el-table th,
.el-table thead.is-group th  {
	background-color: #E2E8F4;
	color: #657BAF;
}
.el-table::before {
	height: 0;
}
.el-table tr:last-child td {
	border-bottom: none;
}
/* 遮罩gif */
.el-icon-loading {
	font-size: 30px;
}

/* 表格下红点位置的重置 */
.el-table .el-badge__content.is-fixed.is-dot {
	right: 10px;
	top: 10px;
}

/* card卡片样式重置 */
.el-card {
	border-radius: 0;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);
}
.el-card.is-always-shadow {
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);
}

input::placeholder{
  opacity: 1 !important;
}

.el-button [class*=" el-icon-"], .el-button [class^=el-icon-]{
	vertical-align: top;
}
.el-badge__content{
	border: none;	
}

/*card组件重置*/
.el-card__header {
	font-size: 16px;
    color: #333;
}
